<br>
<section>
    
    <h2>Your Posts</h2>

    {{#if posts.length}}
    <div>
        {{#each posts as |post|}}
        <div>
            {{> post-info post}}
                <a href="/dashboard/edit/{{post.id}}" class="card-link">Edit post</a>
            </div>
                
        </div>
        {{/each}}
    </div>
    {{/if}}
</section>

<br>
<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
      <div class="mb-3">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" class="form-control" id="post-title" name="post-title">
      </div>
      <div class="mb-3">
        <label for="post-content" class="form-label">Content:</label>
        <textarea class="form-control" id="post-content" name="post-content" cols="30" rows="10"></textarea>
      </div>    

    <button type="submit" class="btn btn-outline-dark">Create</button>
  </form>
</section>



<script src="/javascript/add-post.js"></script>



