<article>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div class="mb-3">
      <label for="post-title" class="form-label">Title</label>
      <input name="post-title" class="form-control" type="text" value="{{post.title}}"/>
    </div>
    <div class="mb-3"> 
      <label for="post-content" class="form-label">Content:</label>
      <textarea class="form-control" name="post-content" id="post-content" cols="30" rows="10">{{post.post_content}}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Save post</button>
    <button type="button" class="delete-post-btn btn btn-danger">Delete post</button>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>