<article class="post mt-3">
  <div class="title">
      <div class="card">
        <div class="card-header">
            {{format_date post.created_at}}
        </div>
        <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.post_content}}</p>
  </div>
</div>
    <h2></h2>
    <p>
        
    </p>
  </div>
  <div class="meta">
    
  </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea class="form-control" name="comment-body">Leave comment here...</textarea>
  </div>

  <div>
    <button type="submit" class="btn btn-primary mb-3 mt-2">add comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}